<% include ./partials/header %>
<% include ./user-partials/header %>


</div>
	<div class="content-session" id="content-session">
		  <% include ./dashboard/candidate-dashboard %>          
			  
		  <% include ./dashboard/employer-dashboard %>   
	</div>
</div>

	   
<% include ./partials/footer %>